In [ ]:
import pandas as pd
import glob, os, folium

sp_map = folium.Map(location=[40.416775, -3.703790],
                   tiles='Mapbox Bright', zoom_start=6)


sp_map.choropleth(geo_data='catalogo_geojson.geojson')
sp_map

In [2]:
import pandas as pd
import glob, os, folium


path ="./indicadores_seccion_censal_csv/" # use a path
allFiles = glob.glob(path + "/*.csv") # if there are more than one file

frame = pd.DataFrame() # data frame form
list_ = [] 
for file_ in allFiles: 
    df = pd.read_csv(file_,index_col=None, header=0)
    list_.append(df)
frame = pd.concat(list_)


frame.describe() # To describe the resume of dataframe

,ccaa,cpro,cmun,dist,secc,t1_1,t2_1,t2_2,t3_1,t3_2,...,t20_7,t20_8,t20_9,t21_1,t22_1,t22_2,t22_3,t22_4,t22_5,t22_6
count,35917.000000,35917.000000,35917.000000,35917.000000,35917.000000,35917.000000,35826.000000,35816.000000,35676.000000,35806.000000,...,16334.000000,14841.000000,14887.000000,35786.000000,31918.000000,33805.000000,30833.000000,29250.000000,26156.000000,26098.000000
mean,8.268146,25.538408,97.841273,3.272740,14.278392,1296.745274,642.189471,657.717082,209.894187,869.828939,...,38.395066,16.455764,13.995768,505.082295,126.271383,158.193758,120.437356,106.430769,26.762884,9.614338
std,4.639146,14.378958,120.117956,3.412732,25.680542,735.309526,376.022820,368.750039,175.548832,523.586709,...,37.585350,21.606118,21.608045,280.642805,85.974253,102.431828,71.944907,69.697412,27.941628,19.605248
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,5.000000,0.000000,0.000000,5.000000,...,0.000000,0.000000,0.000000,5.000000,0.000000,5.000000,0.000000,0.000000,0.000000,0.000000
25%,5.000000,11.000000,28.000000,1.000000,1.000000,825.000000,395.000000,420.000000,85.000000,520.000000,...,10.000000,0.000000,0.000000,330.000000,70.000000,95.000000,70.000000,60.000000,10.000000,0.000000
50%,9.000000,28.000000,69.000000,2.000000,4.000000,1225.000000,595.000000,630.000000,170.000000,810.000000,...,30.000000,10.000000,10.000000,480.000000,110.000000,145.000000,110.000000,95.000000,20.000000,0.000000
75%,12.000000,37.000000,122.000000,4.000000,15.000000,1700.000000,840.000000,865.000000,290.000000,1160.000000,...,55.000000,25.000000,20.000000,655.000000,165.000000,205.000000,160.000000,145.000000,40.000000,10.000000
max,19.000000,52.000000,915.000000,21.000000,220.000000,13070.000000,6865.000000,6205.000000,2915.000000,7420.000000,...,570.000000,315.000000,420.000000,6720.000000,1980.000000,4090.000000,995.000000,970.000000,395.000000,415.000000

In [4]:
import pandas as pd
df = pd.DataFrame({"A":["foo", "foo", "foo", "bar"], "B":[0,1,1,1], "C":["A","A","B","A"]})
df.drop_duplicates(subset=['C', 'A'], keep=False)

     A  B  C
2  foo  1  B
3  bar  1  A